<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Indica que iisnode debe manejar el archivo de entrada -->
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- No reescribir solicitudes para iisnode (depuración, etc.) -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^dist/index.js\/debug[\/]?" />
        </rule>

        <!-- Todas las demás solicitudes se envían al punto de entrada de Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <match url="/*" />
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuración opcional de iisnode -->
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="node.exe"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
